.nav {
  color: var(--white);
  padding: 0.2em;
  background-color: var(--main-color);
  margin: 0;
}

// .center{
//     text-align: center
// }

h1 {
  margin: auto;
}

app-todos {
  width: 100px;
}
